/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  height: 1000px;
  padding: 0;
  margin: 0;
}

#topbar {
  width: 49.5%;
  height: 15%;
  background-color: grey;
  border: 3px solid black;
  /* float: left; */
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 0.5%;

}

#main {
  width:35%;
  border: 3px solid black;
  margin: auto;
  margin-left: 25%;

  display: inline-block;
}

#rightbar {
  width: 14%;
  height: 80%;
  background-color: grey;
  border: 3px solid black;
  /* float: right; */
  display: inline-block;
}
